<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<%- include('partials/add-entry') -%>

<div class="ui masthead segment">
    <div class="jumbotron">
      <!-- MAIN CONTENT -->
      <div class="header-container">
        <div id="weather">
          <p id="display-date-weather"></p>
        </div>
        <h1 class="ui header welcome">Welcome <%= currentUser %>! <br>
          How are you feeling today?</h1>
        <h2 id="quote"></h2>
        <hr class="short" />
        <h4 id="author"></h4>
      </div>
      <div class="arrow">
        <i class="angle down icon"></i>
      </div>
    </div>
  </div>

<div class="ui container hotlines">
    <h3 class="hotlines-title">Mental Health Hotlines</h3>
    <table id="hotlines-table" class="ui selectable celled table">
      <thead class="hotlines-header">
        <tr>
          <td>Hotline</td>
          <td>Number</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>SAMHSA National Hotline</td>
          <td>(800) 662-4357</td>
        </tr>
        <tr>
          <td>Anxiety and Depression Association of America (ADAA)</td>
          <td>(240) 485-1001</td>
        </tr>
        <tr>
          <td>Depression and Bipolar Support Alliance (DBSA)</td>
          <td>(800) 826-3632</td>
        </tr>
        <tr>
          <td>International OCD Foundation</td>
          <td>(617) 973-5801</td>
        </tr>
        <tr>
          <td>National Center of Excellence of Eating Disorders (NCEED)</td>
          <td>(800) 931-2237</td>
        </tr>
        <tr>
          <td>
            Schizophrenia and Related Disorders Alliance of America (SARDAA)
          </td>
          <td>(240) 423-9432</td>
        </tr>
        <tr>
          <td>American Foundation for Suicide Prevention</td>
          <td>(888) 333-2377</td>
        </tr>
        <tr>
          <td>National Domestic Violence Hotline</td>
          <td>(800) 799-7233</td>
        </tr>
        <tr>
          <td>Suicide Prevention Hotline</td>
          <td>(800) 273-8255</td>
        </tr>
      </tbody>
    </table>
</div>

<%- include('partials/footer') -%>