<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<main class="site-content overview-containter">
  <div class="date-controller">
    <div id="prev-month">
      <i class="angle left icon"></i>
    </div>
    <div class="display-date"></div>
    <div id="next-month">
      <i class="angle right icon"></i>
    </div>
  </div>
    <div class="table-div">
      <table id="tracker-table" class="ui selectable celled table">
        <thead id="category">
          <tr>
            <td>Date</td>
            <td>Mood</td>
            <td>Log</td>
            <td>Comments</td>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < entries.length; i++) { %>
            <tr>
                <td>
                  <%= entries[i].date %>
                </td>
                <td><%= entries[i].mood %></td>
                <td>
                  <p><%= entries[i].questionA %></p>
                  <p><%= entries[i].questionB %></p>
                  <p><%= entries[i].questionC %></p>
                </td>
                <td><%= entries[i].comment %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <section class="graph-container">
      <h3 class="graph-year year"></h3>
      <div class="graph"></div>
    </section>
  </main>

<%- include('partials/footer') -%>