<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<main class="site-content overview">
    <div class="table-div">
      <table id="tracker-table" class="ui very basic selectable celled table">
        <thead id="category">
          <tr>
            <td>Date</td>
            <td>Mood</td>
            <td>Log</td>
            <td>Comments</td>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < entries.length; i++) { %>
            <tr>
                <td>
                  <%= entries[i].date %>
                </td>
                <td><%= entries[i].mood %></td>
                <td>
                  <p><%= entries[i].questionA %></p>
                  <p><%= entries[i].questionB %></p>
                  <p><%= entries[i].questionC %></p>
                </td>
                <td><%= entries[i].comment %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <section>
      <ul class="graph"></ul>
    </section>
  </main>

<%- include('partials/footer') -%>